<div class="box box-info">
  <div class="box-header">
    <i class="fa fa-location-arrow"></i>
    <h3 class="box-title"><%= @project.name %></h3>
    <!-- /. tools -->
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <div class="description-block border-right">
          <h5 class="description-header"><i class="text-green fa fa-calendar"></i> Data de Início</h5>
          <% if @project.start_date? %>
            <span class="description-text"><%= @project.start_date.strftime("%d/%m/%Y") %></span>
          <% end %>
        </div>
        <!-- /.description-block -->
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="description-block border-right">
          <h5 class="description-header"><i class="text-yellow fa fa-calendar"></i> Data Prevista</h5>
          <% if @project.expected_date? %>
            <span class="description-text"><%= @project.expected_date.strftime("%d/%m/%Y") %></span>
          <% end %>
        </div>
        <!-- /.description-block -->
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="description-block border-right">
          <h5 class="description-header"><i class="text-blue fa fa-calendar"></i> Data de Término </h5>
          <% if @project.end_date? %>
            <span class="description-text"><%= @project.end_date.strftime("%d/%m/%Y") %></span>
          <% else %>
            <span class="description-text"> Em Andamento </span>
          <% end %>
        </div>
        <!-- /.description-block -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <div class="callout bg-light-blue-active">
          <h4>Sobre:</h4>
          <p><%= @project.description %></p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="callout bg-navy-active">
          <h4>Cliente:</h4>
          <p><%= @project.client %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">Colaboradores</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <p class="text-light-blue"> <%= @project.description %></p>
    <ul class="users-list clearfix">
      <% @project_users.each do |user| %>
        <li>
          <% if user.photo? %>
            <%= image_tag(user.photo.profile.url, :class => "img-circle img-list-event") %>
          <% else %>
            <img src="/images/gti_user_pic.png" class="img-list-event" alt="User Image" />
          <% end %>
          <% if controller_path == 'administrative/projects' %>
            <%= link_to "#{user.name}", administrative_user_path(user), class:"users-list-name" %>
          <% elsif controller_path == 'dashboard/projects' %>
            <%= link_to "#{user.name}", dashboard_user_path(user), class:"users-list-name" %>
          <% end %>
          <span class="users-list-date"><%= user.role %></span>
        </li>
      <% end %>
    </ul>
    <!-- /.users-list -->
  </div>
</div>
