<div class="box">
            <div class="box-header">
              <h3 class="box-title">Eventos</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>

                  </div>
                </div>
              </div>
            </div>
            <!— /.box-header —>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Description</th>
                  <th><%= link_to new_administrative_event_path, type:"button", class:"btn btn-success pull-right" do %>
                  <i class="fa fa-plus"></i>
                  <%end%></th>
                </tr>
                <% @events.each do |event| %>
                <tr>
                  <td><%=event.id %></td>  
                  <td><%= event.name %></td>
                  <td><%= event.date%></td>
                  <td><%= event.description%></td>
           
                   <td>
                     <%= link_to administrative_event_path(event), class: "btn btn-sm btn-info" do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
            
                    <%= link_to edit_administrative_event_path(event),type:"button", class:"btn btn-warning btn-flat" do %>
                     <i class="fa fa-edit"></i>
                     <%end%>
                    
                    <%= link_to administrative_event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, type:"button", class:"btn btn-danger btn-flat" do %>
                     <i class="fa fa-remove"></i>
                   <%end%>
              
                </tr>
                <%end%>
              </tbody></table>
            </div>
            <!— /.box-body —>
          </div>
          <!— /.box —>