<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <% if current_user.photo? %>
          <%= image_tag(current_user.photo.sidebar.url, :class => "img-circle") %>
        <% else %>
          <img src="/images/gti_user_pic.png" class="img-circle" alt="User Image" />
        <% end %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.name %></p>
        <!-- Status -->
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out text-danger"></i>Sair
        <% end %>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">INFORMAÇÕES</li>
      <li>
          <%= link_to dashboard_events_index_path do %>
            <i class="fa fa-location-arrow"></i><span>Eventos</span>
          <% end %>
      </li>
      <li>
        <%= link_to dashboard_projects_path do %>
          <i class="fa fa-archive"></i><span>Projetos</span>
        <% end %>
      </li>
      <li>
        <%= link_to dashboard_users_index_path do %>
          <i class="fa fa-users"></i><span>Membros</span>
        <% end %>
      </li>
      <li>
        <%= link_to  dashboard_transfers_index_path do %>
          <i class="fa fa-money"></i><span>Fluxo de Caixa</span>
        <% end %>
      </li> 
      <li class="header">CONFIGURAÇÕES</li>
      <li>
        <%= link_to edit_dashboard_profile_path(current_user.id) do %>
          <i class="fa fa-user"></i><span>Meu Perfil</span>
        <% end %>
      </li> 
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>


      
      



      
      
