<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/images/gti_admin_pic.png" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p><%= Admin.name %></p>
        <!-- Status -->
        <%= link_to destroy_admin_session_path, method: :delete do %>
          <i class="fa fa-sign-out text-danger"></i>Sair
        <% end %>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">CADASTROS</li>
      <li>
          <%= link_to administrative_events_path do %>
            <i class="fa fa-location-arrow"></i><span>Eventos</span>
          <% end %>
      </li>
      <li>
        <%= link_to administrative_projects_path do %>
          <i class="fa fa-archive"></i><span>Projetos</span>
        <% end %>
      </li>
      <li>
        <%= link_to administrative_users_path do %>
          <i class="fa fa-users"></i><span>Usuários</span>
        <% end %>
      </li>
      <li class="header">OUTROS</li>
      <li>
        <%= link_to administrative_transfers_path do %>
          <i class="fa fa-money"></i><span>Fluxo de Caixa</span>
        <% end %>
      </li> 
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>



      
      



      
      
